In [80]:
import pandas as pd
import numpy as np
import sklearn as sk

In [81]:
titanic = pd.read_csv('https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv')

In [82]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [83]:
count_nan = len(titanic['body']) - titanic['body'].count()
count_nan

1189

In [84]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
unique_species = iris.iloc[:,4].unique()
len(unique_species)

3

In [98]:
sepal_len_in_range = iris.loc[iris.iloc[:,0].between(4.5, 10, inclusive=True)]
petal_len_avg = sepal_len_in_range.iloc[:, 2].mean()
petal_len_avg

3.826712328767126

In [109]:
red = pd.read_csv('winequality-red.csv', sep=';')
white = pd.read_csv('winequality-white.csv', sep=';')
red_q = red['quality'].mean()
print(red_q)
white_q = white['quality'].mean()
print(white_q)

5.6360225140712945
5.87790935075541

In [113]:
red_corr = red['alcohol'].corr(red['quality'])
print(red_corr)
white_corr = white['alcohol'].corr(white['quality'])
print(white_corr)

0.476166324001
0.435574715461